body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pdg15 {
  padding-left: 15px;
  padding-right: 15px;
}

.row .col.s12 .mt20 {
  padding-top: 25px;
  margin-top: 0;
}

.todo {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.todo label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.todo > label > span {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px dotted grey;
  padding-bottom: 30px;
}
.todo.compleated > label > span {
  text-decoration: line-through;
}
.todo > label > i {
  cursor: pointer;
  z-index: 2;
}
